# Virtual environment
venv/
.venv/
node_modules

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Database
*.db

# OS files
.DS_Store
Thumbs.db